<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <unity>
    <typeAliases>
      <typeAlias alias="IMyInterface"
                        type="AppDomainUnity.Common.IMyInterface, AppDomainUnity.Common" />
      <typeAlias alias="AssemblyAObject"
                        type="AppDomainUnity.AssemblyA.StdClass,  AppDomainUnity.AssemblyA" />
      <typeAlias alias="AssemblyBObject"
                        type="AppDomainUnity.AssemblyB.SatClass,  AppDomainUnity.AssemblyB" />
    </typeAliases>
    <containers>
      <!-- Default Container -->
      <container>
        <types>
          <type type="IMyInterface" mapTo="AssemblyAObject" name="local" />
        </types>
      </container>
      <!-- Dynamic Container -->
      <container name="customContainer">
        <types>
          <type type="IMyInterface" mapTo="AssemblyBObject" name="remote" />
        </types>
        <extensions>
          <add type="UnityExtension.MyExtension, UnityExtension" />
        </extensions>
        <extensionConfig>
          <add name="MyExtensionConfigHandler"
                     type="UnityExtension.MyExtensionConfigHandler, UnityExtension"
              domain="CustomAppDomain" shadowFiles="Shadow" />
        </extensionConfig>
      </container>
    </containers>
  </unity>
</configuration>